name               : {{.name}}
type               : {{ "postgres" }}
instances          : {{ .instances }}
database read      : {{.name}}-r
database readonly  : {{.name}}-ro
database write     : {{.name}}-rw
